*{
	margin: 0;
	padding: 0;
}

/**************************/
/*     03. Navigation     */
/**************************/
.navbar-custom {
	background-color: #1de099;
	box-shadow: 0 0.0625rem 0.375rem 0 rgba(0, 0, 0, 0.1);
	font: 700 0.875rem/0.875rem "Open Sans", sans-serif;
	transition: all 0.2s;
}
.navbar-custom .container {
	max-width: 87.5rem;
}
.navbar-custom .navbar-brand.logo-text {
	font-weight: 700;
	font-size: 30px;
	color: #fff;
	text-decoration: none;
}
.navbar-custom .navbar-nav {
	margin-top: 0.75rem;
	margin-bottom: 0.5rem;
}

.navbar-custom .nav-item .nav-link {
	padding: 0.625rem 0.75rem 0.625rem 0.75rem;
	color: #f7f5f5;
	opacity: 0.8;
	text-decoration: none;
	transition: all 0.2s ease;
}

.navbar-custom .nav-item .nav-link:hover,
.navbar-custom .nav-item .nav-link.active {
	color: #fff;
	opacity: 1;
}
.navbar-custom .nav-item .btn-outline-sm {
	padding: 5px 10px 5px 10px;
	text-decoration: none;
	border-radius: 20px;
	border: 0.125rem solid #fff;
	color: #fff;
}

.navbar-custom .nav-item .btn-outline-sm:hover {
	background-color: #fff;
	color: #1de099;
}

.navbar-custom .navbar-toggler {
	padding: 0;
	border: none;
	color: #fff;
	font-size: 2rem;
}

/*********************/
/*    04. Header     */
/*********************/
.header {
	background: linear-gradient(#1de099, #1dc8cd);
}
.header .header-content {
	padding-top: 12rem;
	padding-bottom: 4rem;
	text-align: center;
}
.header .text-container {
	margin-bottom: 3rem;
}
.header .img-wrapper img{
	width: 65%;
	height: 65%;
}
.header h1 {
	margin-bottom: 1rem;
	color: #fff;
	font-size: 2.5rem;
	line-height: 3rem;
}
.header .p-large {
	margin-bottom: 2rem;
	color: #f3f7fd;
}
.header .signUp {
	display: inline-block;
	padding: 1.375rem 2.625rem 1.375rem 2.625rem;
	border: 0.125rem solid #1dc8cd;
	border-radius: 2rem;
	font: 700 0.875rem/0 "Open Sans", sans-serif;
	text-decoration: none;
	transition: all 0.2s;
	margin-right: 0.5rem;
	margin-bottom: 1.125rem;
	margin-left: 0.5rem;
	background-color: #f3f7fd;
	color: #1dc8cd;
}
.header .signUp:hover {
	background: #1dc8cd;
	color: #f3f7fd;
}
.header-frame {
	margin-top: -1px; /* To remove white margin in FF */
	width: 100%;
	height: 2.25rem;
}


/***************************/
/*          About          */
/***************************/
.about {
	padding-top: 6.25rem;
	padding-bottom: 3rem;
	text-align: center;
	width: fit-content;
	height: fit-content;
}
.about .h2-heading {
	margin-bottom: 1.2rem;
	color: #1dc8cd;
}
.about .above-heading {
	margin-bottom: 0.8rem;
}
.about .inner-container{
	display: flex;
	justify-content: center;
	align-items: center;
}
.about .about-card {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin-left: 100px;
	margin-right: 100px;
	border: none;
}
.about .about-card-image {
	width: 100%;
	margin-right: 100px;
}
.about .about-card-title span{
	color: #F9A826;
}
.about .about-card-title {
	margin-bottom: 0.5rem;
}
.about .about-card-body {
	padding: 0;
	text-align: justify;
	margin-top: 50px;
}


/***************************/
/*     Services            */
/***************************/
.services {
	padding-top: 6.25rem;
	padding-bottom: 3rem;
	text-align: center;
}
.services .h2-heading {
	margin-bottom: 1.2rem;
	color: #1dc8cd;
}
.services .above-heading {
	margin-bottom: 0.8rem;
}
.services .inner-container{
	display: flex;
	flex-wrap: wrap;
}
.services .services-card {
	max-width: 21rem;
	margin-right: auto;
	margin-bottom: 3.5rem;
	margin-left: auto;
	padding: 0;
	border: none;
}
.services .services-card-image {
	max-width: 16rem;
	margin-right: auto;
	margin-bottom: 2rem;
	margin-left: auto;
}
.services .services-card-title {
	margin-bottom: 0.5rem;
}
.services .services-card-body {
	padding: 0;
}


/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/ 
#portfolio{
	padding-top: 5.25rem;
}
#portfolio .row{
	margin-left: 0;
}
#portfolio h2{
	color: #1dc8cd;
	margin-bottom: 20px;
}
.single-awesome-project {
	overflow: hidden;
	margin-bottom: 30px;
}
.awesome-img {
	display: block;
	width: 100%;
	height: 100%;
	position: relative;
	border: 2px solid #F9A826;
	display: flex;
	justify-content: center;
	align-items: center;
} 
.awesome-img img{
	width: 300px;
} 
.awesome-img > a {
	display: block;
	position: relative;
}  
.single-awesome-project:hover .awesome-img > a::after {
	opacity: 1;
}  
.single-awesome-project:hover .add-actions {
	opacity: 1;
	bottom: 0;
}  
.awesome-img > a::after {
	background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
	content: "";
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	opacity: 0;
	transition: 0.4s;
}  
.add-actions {
	background: rgba(0, 0, 0, 0.3) none repeat scroll 0 0;
	bottom: 30px;
	display: block;
	height: 100%;
	left: 0;
	opacity: 0;
	overflow: hidden;
	padding: 10px 15px;
	position: absolute;
	transition: all 0.4s ease 0s;
	width: 100%;
}
.add-actions{
	display: flex;
	justify-content: center;
	align-items: center;
}
.add-actions h4, .add-actions span{
	color: #F9A826;
	
}

/* TESTIMONIALS---------- */

.testimonials {
    padding: 80px 0;
    background: url("images/undraw_moments_0y20.svg") no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
}
#testimonials{
	padding-top: 5.25rem;
}
#testimonials h2{
	color: #1dc8cd;
}
.testimonials::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
}  
.testimonials .testimonial-item {
    text-align: center;
    color: #fff;
}  
.testimonials .testimonial-item .testimonial-img {
    width: 100px;
    border: 6px solid rgba(255, 255, 255, 0.15);
    margin: 0 auto;
}  
.testimonials .testimonial-item h3 {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0 5px 0;
    color: #F9A826;
}  
.testimonials .testimonial-item h4 {
    font-size: 14px;
    color: #df9c31;
    margin: 0 0 15px 0;
}
.testimonials .testimonial-item p {
    font-style: italic;
    margin: 0 auto 15px auto;
    color: #eee;
} 
@media (min-width: 1024px) {
    .testimonials {
      background-attachment: fixed;
    }
}  
@media (min-width: 992px) {
    .testimonials .testimonial-item p {
      width: 80%;
    }
}


/* Our Team Section ---------*/
.section-bg{
	background: #eff5f5;
	margin: 20px 0 20px 0;
}
#team {
	padding: 30px 0;
	padding-top: 5.25rem;
	overflow: hidden;
}
#team h2{
	color: #1dc8cd;
}
#team .member {
	text-align: center;
	margin-bottom: 20px;
}
#team .member .pic {
	margin-bottom: 15px;
	overflow: hidden;
	height: 260px;
}  
#team .member .pic img {
	max-width: 100%;
}  
#team .member h4 {
	font-weight: 700;
	color: #1dc8cd;
	margin-bottom: 2px;
	font-size: 18px;
}  
#team .member span {
	font-style: italic;
	display: block;
	font-size: 13px;
}  
#team .member .social {
	margin-top: 15px;
}  
#team .member .social a {
	color: #b3b3b3;
}  
#team .member .social a:hover {
	color: #1dc8cd;
}  
#team .member .social svg {
	font-size: 18px;
	margin: 0 2px;
}


/* Contact Section
--------------------------------*/
#contact {
	box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
	padding: 60px 0;
	overflow: hidden;
}  
#contact .contact-about h3 {
	font-size: 36px;
	margin: 0 0 10px 0;
	padding: 0;
	line-height: 1;
	font-family: "Montserrat", sans-serif;
	font-weight: 300;
	letter-spacing: 3px;
	text-transform: uppercase;
	color: #1dc8cd;
}  
#contact .contact-about p {
	font-size: 14px;
	line-height: 24px;
	font-family: "Montserrat", sans-serif;
	color: #888;
}  
#contact .social-links {
	padding-bottom: 20px;
}  
#contact .social-links a {
	font-size: 18px;
	background: #fff;
	color: #1dc8cd;
	padding: 8px 0;
	margin-right: 4px;
	border-radius: 50%;
	width: 36px;
	height: 36px;
	transition: 0.3s;
	border: 1px solid #1dc8cd;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}  
#contact .social-links a svg {
	line-height: 0;
}
  
  #contact .social-links a:hover {
	background: #1dc8cd;
	color: #fff;
  }
  
  #contact .info {
	color: #333333;
  }
  
  #contact .info svg {
	font-size: 32px;
	color: #1dc8cd;
	float: left;
	line-height: 0;
  }
  
  #contact .info p {
	padding: 0 0 10px 42px;
	line-height: 28px;
	font-size: 14px;
}
#contact .php-email-form input, #contact .php-email-form textarea {
	border-radius: 0;
	box-shadow: none;
	font-size: 14px;
}  
#contact .php-email-form input::focus, #contact .php-email-form textarea::focus {
	background-color: #1dc8cd;
}  
#contact .php-email-form button[type="submit"] {
	background: linear-gradient(45deg, #1de099, #1dc8cd);
	border: 0;
	border-radius: 20px;
	margin-top: 15px;
	padding: 8px 30px;
	color: #fff;
} 
#contact .php-email-form button[type="submit"]:hover {
	cursor: pointer;
}